
.container {
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-46-percent {
  width: 46%;
}

.column-three-tenth {
  width: 30%;
}

.column-one-quarter {
  width: 25%;
}
