:root {
  --hero-background: #F3EED9;
  --made-custom-background: #222C2A;
  --created-with-care-background: #824936;
  --heading-colors: #835656;
}

/* BASE CSS SELECTORS */

h1 {
  font-family: playfair, serif;
  font-size: 3.8rem;
  color: var(--heading-colors);
  line-height: 0.9;
  margin-top: 0;
}

h2 {
  font-size: 2.5rem;
  font-family: playfair, serif;

}

p {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5em;
}

/* Border */

.border-layout {
  border: 2px solid black;
}

/* HERO SECTION */

#hero-section {
  background-color: var(--hero-background);
}
.hero__text > p {
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 6px;
  text-transform: uppercase;
}


/* QUALITY DESIGNS SECTION */

.quality-design__text > h2 {
  color: var(--heading-colors);
  text-transform: capitalize;
  text-align: center;
}

.quality-design__text p {
  line-height: 1.5em;
}

/* MADE CUSTOM SECTION */

#made-custom {
  background-color: var(--made-custom-background);
  color: white;
}

/* MADE WITH CARE */

#created-with-care {
  background-color: var(--created-with-care-background);
  color: white;
}
