/* HERO SECTION */
#hero-section,
#hero-section > .row {
  min-height: 660px;
}

.hero__text {
  width: 80%;
}

/* QUALITY DESIGN SECTION */
#quality-design,
#quality-design > .row {
  min-height: 550px;
}

.quality-design__text p + p {
  margin-left: 8%;
}

/* UTILITY CLASSES */

.main-layout {
  width: 60%;
  justify-content: center;
  margin: auto;
}

.content-layout {
  width: 80%;
  max-width: 1200px;
  justify-content: center;
  margin: auto;
}


.flex-wrap-wrap {
  flex-wrap: wrap;
}
.text-align-center {
  text-align: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}
