:root {
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-one-third {
  width: calc(100% / 3);
}

@media all and (min-width: 700px) {
  .flex__desktop {
    display: flex;
    justify-content: center;
    gap: 5%;
  }
}

@media all and (min-width: 700px) {

  width: var(--45-percent--width__desktop);
}
