.container {
  max-width: 1200PX;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}
.column-one-third {
  width: 33%;
}

@media all and (min-width: 700px) {
  #hard {
    margin: 0 auto;
  }
  .flex__desktop {
    display: flex;
  }
}
