:root {
}

.container {
  max-width: 1200PX;
  margin: auto;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}
.column-one-third {
  width: 33%;
}

@media all and (min-width: 700px) {
  .flex__desktop {
    display: flex;
    justify-content: center;
    gap: 5%;
  }
}

@media all and (min-width: 700px) {

  width: var(--45-percent--width__desktop);
}


/* h2 margin-top: 0

both container elements width: 45%

get rid of .hard__desktop

get rid of .row

breakdown-section: margin: 0;
