:root {
  --hero-section-color: #3B4050;
  --nav-section-color: #2E323F;
  --light-gold: #A59678;
  --charcoal-color: #6F737F;
}

.hidden {
  display: none !important;
}

/* Base element styling */

body {
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: 'Merriweather', serif;
}

h2 {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
}

p {
  font-size: 1.3rem;
}

li {
  list-style: none;
}

a {
  color: #FFF;
  text-decoration: none;
}

span {
  color: var(--light-gold);
}

/* Nav section */
.nav-section {
  background-color: var(--nav-section-color)
}

.nav-section a {
  text-transform: uppercase;
}

.nav {
  transition: 1000ms;
}

.nav__mobile {
  box-shadow: 0 0 0 5000px 0 rgb(0 0 0);
}

.nav__link {
}


.nav__link--button > a {
  background-color: var(--light-gold);
}

/* HERO SECTION */

#hero-section {
  background-color: var(--hero-section-color);
}

#hero-section p {
  color: var(--charcoal-color)
}

.learn-more {
  font-size: 1.2rem;
  background-color: var(--light-gold);
  box-shadow: 0 0 5px 0px grey;
}

/* THREE-COLUMN SECTION */

#three-column-section {
  background-color: rgb(248 242 230);
}
#three-column-section h2 {
  color: var(--light-gold);
}

/* HARD SECTION */

#hard h2 {
  color: var(--light-gold);
}

/* breakdown section */

#breakdown h2,
#breakdown p {
  color: #FFF;
}

.dark {
  background-color: var(--nav-section-color);
}

.dark__mobile {
  background-color: var(--nav-section-color);
}

@media all and (min-width: 700px) {
  .dark__mobile {
    background-color: initial;
  }
}
.white-color {
  color: #FFF;
}

/*  */


/* SURFACE-SECTION */



.surface-section {
  background-color: var(--nav-section-color);
  color: white;
}

.surface-section h2  {
  text-transform: capitalize;
  font-size: 3rem;
}

.surface-section p {
  font-size: 1rem;
}

/* NAVBAR-SECTION__MOBILE */

.navbar-section__mobile {
  background-color: rgb(14 13 13);
}

.navbar-section__mobile h3 {
  color: var(--light-gold);
}

.navbar-section__mobile {
  color: rgb(211, 211, 211);
  text-transform: capitalize;
}
.navbar-section__mobile a:hover {
  background-color: var(--light-gold);
  border-radius: 10rem;
}

.navbar__footer {
  color: white;
}

.navbar__footer:hover,
.navbar__footer:focus {
  color: var(--light-gold);
  border-radius: 50px;
}
