:root {
  --hero-section-color: #3B4050;
  --nav-section-color: #2E323F;
  --light-gold: #A59678;
  --charcoal-color: #6F737F;
}
.hidden {
  display: none !important;
}

/* Base element styling */

.white-color {
  color: #FFF;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.1rem;
}

li {
  list-style: none;
}

a {
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
}

span {
  color: var(--light-gold);
}

/* Nav section */

.nav {
  transition: 1000ms;
}

.nav__link {
}

#nav-section {
  background-color: var(--nav-section-color)
}

.nav__link--button > a {
  background-color: var(--light-gold);
}

/* HERO SECTION */

#hero-section {
  background-color: var(--hero-section-color);
}

#hero-section p {
  color: var(--charcoal-color)
}

.learn-more {
  font-size: 1.2rem;
  background-color: var(--light-gold);
}
/* THREE-COLUMN SECTION */

#three-column-section {
  background-color: rgb(248 242 230);
}
#three-column-section h2 {
  color: var(--light-gold);
}

/* HARD SECTION */

#hard h2 {
  color: var(--light-gold);
}

/* breakdown section */

#breakdown h2,
#breakdown p {
  color: #FFF;
}

.dark {
  background-color: var(--nav-section-color);
}
