:root {
  --hero-section-color: #3B4050;
  --nav-section-color: #2E323F;
  --light-gold: #A59678;
  --charcoal-color: #6F737F;
  --dark-color: #181818;
}

.hidden {
  display: none !important;
}

.hidden-mobile-show-desktop {
  display: none !important;
}
@media all and (min-width: 700px) {
  .mobile-only {
    display: none !important;
  }
}

/* Base element styling */

body {
  font-family: Roboto, sans-serif;
}

h1 {
  font-size: 3rem;
  font-family: 'Merriweather', serif;
}

h2 {
  font-size: 2rem;
  font-family: 'Merriweather', serif;
}

p {
  font-size: 1.3rem;
}

li {
  list-style: none;
}

a {
  color: #FFF;
  text-decoration: none;
}

span {
  color: var(--light-gold);
}

/* Nav section */
.nav-section {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--nav-section-color);
}

@media all and (min-width: 700px) {
  .nav-section {
    position: initial;
  }
}

.navbar-section__mobile {
  z-index: 9999;
}

.header__navbar {
  position: fixed;
  top: 2rem;
  left: 3%;
  font-size: 2rem;
  cursor: pointer;
}

.header__navbar:focus,
.header__navbar:active {
  opacity: .85;
}

.nav-section a {
  text-transform: uppercase;
}

.nav {
  animation: header-navbar__mobile 300ms ease-in-out;
  transform-origin: top;
}

@keyframes header-navbar__mobile {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  20% {
    transform: scaleY(0.3);
    opacity: 0.25;
  }

  40% {
    transform: scaleY(0.6);
    opacity: 0.8;
  }

  60% {
    transform: scaleY(0.9);
    opacity: 0.75;
  }

  80% {
    transform: scaleY(1.2);
    opacity: 0.9;
  }

  100% {
    transform: scaleY(1.0);
    opacity: 1;
  }
}

.nav__link {
}


.nav__link--button > a {
  background-color: var(--light-gold);
}

/* HERO SECTION */

.hero-section {
  background-color: var(--hero-section-color);
}

.hero-section p {
  color: var(--charcoal-color)
}

.learn-more {
  font-size: 1.2rem;
  background-color: var(--light-gold);
  box-shadow: 0 0 5px 0px grey;
  text-transform: uppercase;
}

/* THREE-COLUMN SECTION */

.three-column-section {
  background-color: rgb(248 242 230);
}
.three-column-section h2 {
  color: var(--light-gold);
}

/* HARD SECTION */

#hard h2 {
  color: var(--light-gold);
}

/* breakdown section */

#breakdown h2,
#breakdown p {
  color: #FFF;
}

.dark {
  background-color: var(--nav-section-color);
}

.dark__mobile {
  background-color: var(--nav-section-color);
}

@media all and (min-width: 700px) {
  .dark__mobile {
    background-color: initial;
  }
}
.white-color {
  color: #FFF;
}

/*  */

.gold-color--divider {
  background-color: black;
  opacity: 0.85;
}

/* SURFACE-SECTION */



.surface-section {
  background-color: var(--nav-section-color);
  color: white;
}

.surface-section h2  {
  text-transform: capitalize;
  font-size: 3rem;
}

.surface-section p {
  font-size: 1rem;
}

/* NAVBAR-SECTION__MOBILE */

.navbar-section__mobile {
  color: rgb(211, 211, 211);
  background-color: var(--dark-color);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 10%;
  left: 0;
  height: 50vh;
  text-align: center;
  margin: auto auto 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-transform: capitalize;
  opacity: 0.97;
  z-index: 9999;
  animation: footer-navbar__mobile 300ms ease-in;
  transform-origin: bottom;
}

@media all and (min-width: 700) {
  .navbar-section__mobile {
    position: relative;
  }
}

@keyframes footer-navbar__mobile {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }

  20% {
    transform: scaleY(0.3);
    opacity: 0.25;
  }

  40% {
    transform: scaleY(0.6);
    opacity: 0.8;
  }

  60% {
    transform: scaleY(0.9);
    opacity: 0.75;
  }

  80% {
    transform: scaleY(1.2);
    opacity: 0.9;
  }

  100% {
    transform: scaleY(1.0);
    opacity: 1;
  }
}

.navbar-section__mobile h3 {
  color: var(--light-gold);
  font-size: 1.5rem;
}

.navbar-section__mobile li {
  font-size: 0.9rem;
}

.navbar__footer {
  color: white;
  cursor: pointer;
}

.navbar__footer:hover,
.navbar__footer:focus {
  color: var(--light-gold);
  transform: scale(1.5);
  transition: 50ms;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / .9);
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav__icon-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

/* UTILITY CLASSES */

.black-color {
  background-color: var(--dark-color);
}
