/* BASE ELEMENT STYLING */

img {
  max-width: 100%;
  height: auto;
}

ul {
  justify-content: flex-end;
  margin: 0;
}

/* HEADER ELEMENT */

.nav {
  display: none;
}

.nav__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2rem 0 1rem;
}

.nav__link + .nav__link {
  margin-top: 1rem;
}

.nav__link--button > a {
  display: inline-block;
  padding: 0.8rem 1.25rem;
  border-radius: 50px;


}

/* HERO-SECTION */

#hero-section > .content-layout {
  justify-content: center;
}

.learn-more {
  display: inline-block;
  text-align: center;
  padding: 0.75em 1.5em;
  margin: 1em auto;
  border-radius: 50px;
  box-shadow: 2px 2px grey;
}

.learn-more:hover {
  opacity: 0.75;
}

.logo {
  height: 30px;
  text-align: center;
}

/* BREAKDOWN SECTION  */

.breakdown-layout {
  text-align: center;
  padding: 3rem 2rem;
}

/* UTILITY CLASSES */

.content-layout {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
