/* BASE ELEMENT STYLING */

h2 {
  text-align: center;
}
@media all and (min-width: 700px) {
  h2 {
    text-align: left;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  justify-content: flex-end;
  margin: 0;
}

/* HEADER ELEMENT */

.nav__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2rem 0 1rem;
}

.nav__link + .nav__link {
  margin-top: 1rem;
}

.nav__link--button > a {
  display: inline-block;
  padding: 0.8rem 1.25rem;
  border-radius: 50px;


}

/* HERO-SECTION */

#hero-section > .content-layout {
  justify-content: center;
}

.learn-more {
  display: inline-block;
  text-align: center;
  padding: 0.75em 1.5em;
  margin: 1em auto;
  border-radius: 50px;
}

.learn-more:hover {
  opacity: 0.75;
}

.logo {
  height: 30px;
  text-align: center;
}

/* THREE COLUMN SECTION */

.three-column-section h2 {
  margin-bottom: 0;
}

.three-column-section p {
  margin: 0.75rem 0 3.5rem;
}

/* BREAKDOWN SECTION  */

.breakdown-layout {
  text-align: center;
  padding: 5% 5%;
}

#breakdown h2,
#breakdown p {
  text-align: center;
}
/* UTILITY CLASSES */

.content-layout {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

@media all and (min-width: 700px) {
  .hard__desktop {
    width: 50%;
  }

  .breakdown-layout {
    width: 100%;
  }


  }
}

.wrap {
  flex-wrap: wrap;
}

.gap__5--percent {
  gap: 0;
}

 @media all and (min-width: 700px) {
   .gap__5--percent {
     gap: 5%;
   }
 }

.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
