:root {
  --gap: 5%;
  --100-percent--width: width: 100%;
  --45-percent--width: 45%
}

/* BASE ELEMENT STYLING */

h2 {
  text-align: center;
}
@media all and (min-width: 700px) {
  h2 {
    text-align: left;
  }
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  justify-content: flex-end;
  margin: 0;
}

/* HEADER ELEMENT */

.navbar-and-logo-layout {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-nav {
  z-index: 9999;
}

.nav__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 2rem 0 1rem;
}

.nav__link {
  z-index: 9999;
}
.nav__link + .nav__link {
  margin-top: 1rem;
}

.nav__link--button > a {
  display: inline-block;
  padding: 0.8rem 1.25rem;
  border-radius: 50px;


}

.logo {
  height: 30px;
  text-align: center;
  z-index: 9999;
}

/* HERO-SECTION */

.hero-section {
  margin-top: 8%;
}
.hero-section > .content-layout {
  justify-content: center;
}

.learn-more {
  display: inline-block;
  text-align: center;
  padding: 0.75em 1.5em;
  margin: 1em auto;
  border-radius: 50px;
}

.learn-more:hover {
  opacity: 0.75;
}


/* THREE COLUMN SECTION */

.three-column-section h2 {
  margin-bottom: 0;
}

.three-column-section p {
  text-align: center;
  margin: 0.75rem 0 3.5rem;
}

@media all and (min-width: 700px) {
  .three-column-section p {
    text-align: left;
  }
}

/* BREAKDOWN SECTION  */

.breakdown-layout {
  text-align: center;
  padding: 5% 5%;
}

.breakdown-layout h2,
.breakdown-layout p {
  text-align: center;
}

/* SURFACE-SECTION */

.surface-section {
  text-align: center;
  padding-bottom: 10%;
}

.surface-section h3 {
  color: var(--light-gold);
}


.surface-section li + li {
  margin-top: 1.5rem;
}

.gold-color--divider {
  width: 100%;
  padding: 0.25rem 0;
}

.about-company-width {
  width: 100%;
}

/* NAVBAR-SECTION  */

.navbar-section__mobile {
  display: flex;
  justify-content: flex-end;
}

.navbar-section__mobile h3 {
  margin: 1.5rem auto 0.5rem;
}

.navbar-section__mobile li {
  margin-bottom: 0.5rem;
}

.navbar-section__mobile a {
  display: inline-block;
  padding: 0.25em 0.5em;
}
.navbar-content-layout__mobile {
  width: 50%;
  margin: auto;
}

.navbar__footer {
  font-size: 2rem;
  height: 6%;
}

.navbar__footer > i {
  width: 100%;
  height: 6%;
  margin-right: 10px;
}

.nav__icon-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
  margin-bottom: 0;
}

/* UTILITY CLASSES */

.content-layout {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}

.text-align-center {
  text-align: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap__5--percent {
  gap: 0;
}

@media all and (min-width: 700px) {
  .gap__5--percent {
    gap: var(--gap);
  }
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

@media all and (min-width: 700px) {
  .logo {
    position: relative;
    top: 3px;
  }

  .navbar-and-logo-layout {
    flex-direction: row;
    justify-content: space-between;
  }
  .header-nav > ul,
  .navbar-and-logo-layout {
    flex-direction: row;
  }

  .header__navbar {
    display: none;
  }
  .nav__link + .nav__link {
    margin-top: 0;
    margin-left: 1rem;
  }

  .hero-section {
    margin-top: 0;
  }
  .hard-section {
    margin: 0;
  }

  .hard-section h2 {
    margin-top: 0;
  }

  .hard-section {
    width: 37.5%
  }

  .hard-section > .content-layout,
  .breakdown-section > .content-layout {
    width: 100%;
  }

  .breakdown-section {
    margin: 0;
    width: 37.5%;
  }

  .breakdown-layout {
    width: 100%;
    border-radius: 10px;
  }

  .breakdown-section .breakdown-layout + .breakdown-layout {
    margin-top: 3rem;
  }

  .surface-section h2 {
    text-align: center;
  }
  .about-company-width {
    width: 50%;
  }
}
